.top-container {
  background-color: #E4F9F5;
  margin: 0px;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

#main_title {
  margin-top: 0px;
}

#profile_img {
   width:200px;
   height:200px;
   border-radius: 50px;
   margin-top: 20px;
}

#subtitle {
  font-weight: normal;
  line-height: 2em;
}

.middle-container {
  margin-bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  color: white;
  padding-top: 50px;
}

.pro{
  text-decoration: underline;
}

.top-cloud {
  margin-top: 50px;
  margin-left: 500px;
}

.bottom-cloud {
  position: absolute;
}

.skill-row {
  width: 50%;
  margin: 20px auto;
  text-align: left;
  line-height: 2rem;
  display: inline-block;
}


.img_skills-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100px;
}

.img_skills-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.code-skill-description-1{
}

.code-skill-description-2{
}

.BUTTON_LIW {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 250px;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_LIW:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
